---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Error 404 | Marcel's cool website.">
  <Header />
  <main>
    <section class="flex items-center h-full p-16">
      <div
        class="container flex flex-col items-center justify-center px-5 mx-auto my-8"
      >
        <div class="max-w-md text-center">
          <h2 class="mb-8 font-bold text-9xl">
            <span class="sr-only">Error</span>
            <span>404</span>
          </h2>
          <p class="text-3xl font-semibold md:text-3xl">
            Well this is awkward...
          </p>
          <p class="m-4 text-lg text-gray-600 -slate-400">
            This page doesn't exist or the link might be broken.
          </p>
          <a
            class="bg-black border-black border-2 hover:bg-white hover:text-black text-white rounded-full text-lg p-1 inline-flex items-center"
            aria-label="home"
            href="/"
          >
            <p class="p-2">go home</p>
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
