---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Marcel's cool blog">
  <Header />
  <main>
    <div class="p-4 mx-auto max-w-6xl">
      <div class="flex flex-col items-center w-full h-full page">
        <div class="w-48 pt-8"></div>
        <h1 class="pt-2 text-2xl font-bold md:text-4xl">Marcel's cool blog</h1>
        <h2 class="px-8 text-xl text-center xl:px-0">
          Some notes on things I've found interesting.
        </h2>
        <ProjectGrid onlyPinned={false} postCategory={"blog"} />
      </div>
    </div>
  </main>
  <Contact />
</Layout>
