---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Icon } from "astro-icon";
import ProjectsGrid from "../components/ProjectsGrid.astro";
---

<Layout>
  <Header />
  <main>
    <div
      class="py-3 px-3 mx-auto w-full flex flex-wrap-reverse justify-center md:flex-nowrap md:flex md:justify-between max-w-6xl md:px-4"
    >
      <div class="w-full p-2 text-center md:text-left md:p-4">
        <h1 class="text-4xl font-black lg:text-6xl">
          Hi, I'm <br class="hidden md:block" />Marcel Rodríguez
        </h1>
        <h2 class="text-2xl md:text-4xl">and I'm a fullstack dev</h2>
        <div class="">
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/3ZNq5kDil3xqjLtvyhcL7s?utm_source=generator"
            width="100%"
            height="80"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          ></iframe>
        </div>
      </div>
      <img
        class="h-64 w-50 lg:h-96"
        src="../../images/MarcelCollage.png"
        alt="Marcel collage"
      />
    </div>
    <div class="px-4 py-10 mx-auto max-w-6xl">
      <div class="flex flex-col lg:justify-between lg:flex-row">
        <h2
          class="max-w-lg text-3xl font-bold tracking-tight sm:text-4xl sm:leading-none group font-heading"
        >
          <span class="inline-block mb-1 sm:mb-4">Projects</span>
        </h2>
      </div>
      <ProjectsGrid />
    </div>
    <div
      class="flex flex-col justify-center text-center bg-slate-800 text-slate-50 mx-auto md:px-24 lg:px-8 lg:py-52 max-w-6xl"
      id="contact"
    >
      <h1 class="px-32 text-4xl lg:text-6xl">Contact</h1>
      <div class="flex flex-row justify-center">
        <ul class="md:flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Mail"
              href="mailto:mrodrigonz@gmail.com?subject=Wanna%20collab%3F&body=Hi%20there%2C%20I%20saw%20your%20website%20and%20I%20thought%20it%20was%20really%20cool.%20Anyways%2C%20I%20want%20to..."
            >
              <Icon name="tabler:mail" class="w-5 h-5" />
              <p class="p-2">mrodrigonz@gmail.com</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Instagram"
              href="#"
            >
              <Icon name="tabler:brand-instagram" class="w-5 h-5" />
              <p class="p-2">Twitter</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Facebook"
              href="#"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
              <p class="p-2">Twitter</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="RSS"
              href="/rss.xml"
            >
              <Icon name="tabler:rss" class="w-5 h-5" />
              <p class="p-2">Twitter</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Github"
              href="https://github.com/onwidget/astrowind"
            >
              <Icon name="tabler:brand-github" class="w-5 h-5" />
              <p class="p-2">MarcelRG</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
