---
import { Icon } from "astro-icon";
---

<div class="min-h-screen flex items-center justify-center overflow-hidden">
  <div class="relative w-full max-w-lg">
    <div
      class="absolute top-0 -left-40 w-96 h-96 bg-purple-600 rounded-full mix-blend-hard-light filter opacity-70 animate-blob"
    >
    </div>
    <div
      class="absolute top-0 -right-40 w-96 h-96 bg-yellow-600 rounded-full mix-blend-hard-light filter opacity-70 animate-blob delay-1000"
    >
    </div>
    <div
      class="absolute -bottom-20 left-20 w-96 h-96 bg-blue-500 rounded-full mix-blend-hard-light filter opacity-70 animate-blob delay-1000"
    >
    </div>
    <div
      class="absolute bottom-20 left-20 w-96 h-96 bg-red-500 rounded-full mix-blend-hard-light filter opacity-70 animate-blob delay-1000"
    >
    </div>

    <div
      class="flex flex-col justify-center text-center bg-white/20 drop-shadow-2xl backdrop-blur-md text-slate-50 mx-auto md:px-24 lg:px-8 lg:py-52 max-w-6xl rounded-3xl"
    >
      <h1 class="px-32 text-4xl lg:text-6xl">Contact</h1>
      <div class="flex flex-row justify-center">
        <ul class="md:flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Mail"
              href="mailto:mrodrigonz@gmail.com?subject=Wanna%20collab%3F&body=Hi%20there%2C%20I%20saw%20your%20website%20and%20I%20thought%20it%20was%20really%20cool.%20Anyways%2C%20I%20want%20to..."
            >
              <Icon name="tabler:mail" class="w-5 h-5" />
              <p class="p-2">mrodrigonz@gmail.com</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Instagram"
              href="#"
            >
              <Icon name="tabler:brand-instagram" class="w-5 h-5" />
              <p class="p-2">Twitter</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Facebook"
              href="#"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
              <p class="p-2">Twitter</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="RSS"
              href="/rss.xml"
            >
              <Icon name="tabler:rss" class="w-5 h-5" />
              <p class="p-2">Twitter</p>
            </a>
          </li>
          <li>
            <a
              class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
              aria-label="Github"
              href="https://github.com/onwidget/astrowind"
            >
              <Icon name="tabler:brand-github" class="w-5 h-5" />
              <p class="p-2">MarcelRG</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
