---
export interface Props {
  onlyPinned: boolean;
  postCategory: string;
}

import ContentPreview from "../components/ContentPreview.astro";

const { onlyPinned, postCategory } = Astro.props;
const posts = await Astro.glob("../content/*.mdx");
const postType = posts.filter(
  (post) => post.frontmatter.category == postCategory
);
const pinnedPosts = postType.filter(
  (postType) => postType.frontmatter.isPinned
);
const unsortedPosts = onlyPinned ? pinnedPosts : postType;
const sortedPosts = unsortedPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<div
  class="grid w-full grid-cols-1 p-4 md:space-y-4 md:p-10 lg:space-y-0 lg:p-4 lg:grid-cols-3"
>
  {sortedPosts.map((p) => <ContentPreview post={p} />)}
</div>
