---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { Icon } from "astro-icon";

import { getSlugFromPath } from "../../utils/get-slug-from-path";

export async function getStaticPaths() {
  const content = await Astro.glob("../../content/*.md");
  const paths = content.map((content) => {
    const slug = getSlugFromPath(content.file);

    return {
      params: { slug },
      props: { content },
    };
  });
  return paths;
}
const { content } = Astro.props;
---

<Layout title={"Marcel's Project: " + content.frontmatter.title}>
  <Header />
  <div class="px-10 py-4 mx-auto w-full max-w-6xl">
    <a class="pt-8 text-xl" href="/projects">Projects</a>
    <article class="pb-10 prose prose-lg lg:prose-xl max-w-none">
      <main>
        <h1 class="text-4xl font-black lg:text-6xl">
          {content.frontmatter.title}
        </h1>
        <img
          src={content.frontmatter.image}
          class="m-4 h-64 w-50 lg:h-96 object-fit-cover mx-auto rounded-md shadow-lg"
          alt={content.frontmatter.title}
        />
        <div>
          <content.Content />
        </div>
      </main>
    </article>
    <div class="pb-8">
      <a href="/projects">{"Go back"}</a>
    </div>
  </div>
</Layout>
