---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";

import { getSlugFromPath } from "../../utils/get-slug-from-path";

export async function getStaticPaths() {
  const content = await Astro.glob("../../content/*.md");
  const paths = content.map((content) => {
    const slug = getSlugFromPath(content.file);

    return {
      params: { slug },
      props: { content },
    };
  });
  return paths;
}
const { content } = Astro.props;
---

<Layout title={content.title}>
  <Header />
  <div class="flex justify-center w-full h-full page">
    <div class="max-w-full lg:w-[42rem] xl:w-[64rem] px-4 lg:px-0 pt-8">
      <a class="pt-8 text-xl" href="/projects">Project</a>
      <article class="pb-10 prose prose-lg lg:prose-xl max-w-none">
        <main>
          <content.Content />
        </main>
      </article>
      <div class="pb-8">
        <a href="/projects">{"Go back"}</a>
      </div>
    </div>
  </div>
</Layout>
